
html, body 
{ height: 100%; }
body 
{ margin: 0px; padding:0px; font-family: Roboto, "Helvetica Neue", sans-serif; background-repeat: no-repeat; background-size: cover; }
.pz
{
    padding:0px;
}
.border-color
{
    border-color:transparent!important;
}
.mz
{
    margin:12px;
}