
    <div class="col-md-12 card mz">
      <div class="card-header">
        Carpet 1
      </div>
      <div class="card-body c1">
        
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary" routerLink="/carpet1" routerLinkActive="active">See more</a>
      </div>
    </div>
 
 
    <div class=" col-md-12 card mz">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body c2">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary" routerLink="/carpet2" routerLinkActive="active">See more</a>
      </div>
    </div>

    
    <div class="col-md-12 card mz">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body c3">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary" routerLink="/carpet3" routerLinkActive="active">See more</a>
      </div>
    </div>

    <div class=" col-md-12 card mz">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body c4">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">See more</a>
      </div>
    </div>
  


