<div class="loginDiv">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Login Page</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <div class="field">
                <mat-form-field appearance="fill">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="password" required>
                    <!-- <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error> -->
                  </mat-form-field>
              </div>             
              <a href="http://" style="display: flex; justify-content: flex-end; color: #ff4081;"> Create Account</a> <br>
              <a href="http://"> <input type="checkbox" name="" id=""> Terms and Conditions</a> 
        </mat-card-content>
        <mat-card-actions style="display: flex; justify-content: center;">
          <button mat-raised-button color="accent">Submit</button>
          <!-- <button mat-raised-button color="warn">SHARE</button> -->
        </mat-card-actions>
      </mat-card>
      
</div>