<nav class="navbar navbar-expand-sm bg-light navbar-primary sticky-top">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Shahabad Carpets</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Silk Carpets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Woolean Carpets</a>
      </li>
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          BRAND
        </a>
        <div class="dropdown-menu">
            <a class="btn btn-primary" routerLink="/carpet1" routerLinkActive="active">ROMEE</a>
            <a class="btn btn-primary" routerLink="/carpet2" routerLinkActive="active">IMPERIAL KNOTS</a>
            <a class="btn btn-primary" routerLink="/carpet3" routerLinkActive="active">SARAL HOMES</a>
            <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">OBSESSIONS</a>
            <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">STORY@HOME</a>
            <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">SPACES</a>
            <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">EVERHOME</a>
            <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">WELHOME</a>
            <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">CHUMBAK</a>
            <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">DISNEY</a>
            <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">MARVEL</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          MachineMade Carpets
        </a>
        <div class="dropdown-menu">
            <a class="btn btn-primary" routerLink="/carpet1" routerLinkActive="active">Carpet 1</a>
            <a class="btn btn-primary" routerLink="/carpet2" routerLinkActive="active">Carpet 2</a>
            <a class="btn btn-primary" routerLink="/carpet3" routerLinkActive="active">Carpet 3</a>
            <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">Carpet 4</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          HandMade Carpets 
        </a>
        <div class="dropdown-menu">
            <a class="btn btn-primary" routerLink="/carpet1" routerLinkActive="active">Carpet 1</a>
            <a class="btn btn-primary" routerLink="/carpet2" routerLinkActive="active">Carpet 2</a>
            <a class="btn btn-primary" routerLink="/carpet3" routerLinkActive="active">Carpet 3</a>
            <a class="btn btn-primary" routerLink="/carpet4" routerLinkActive="active">Carpet 4</a>
        </div>
      </li>
    </ul>
  </nav>