<div class="container cn">
<div class="row rw">
  <h3>TURQ JEWEL HANDKNOTTED SILK AREA RUG</h3>
  <div class="col-md-4 pd">
    <img src="assets/abc1.jpg" class="img">
  </div>
  <div class="col-md-8 pd">
    <p>Iqbal Carpet is the largest handmade carpet establishments in Asia and is headquartered in New Delhi, India. We are synonymous with producing the highest quality handmade carpets that are truly bespoke and have become the most trusted resource for today’s rug enthusiasts. The Finest art has always been a product of the human hand. Since its inception in 1976, our carpets have been handcrafted by the most skilled artisans in the industry.</p>
  </div>
</div>
<div class="row rw">
<div class="col-md-6">
<div class="card pd">

<span><b>size :</b> <label >8′.0 x 11′.0 ft / 240cm x 330cm</label> </span>
<span><b>Design :</b> <label>Kashan</label></span>
<span><b>Color :</b> <label>Turquoise</label></span>
<span><b>Origin :</b> <label>Handmade in India</label></span>
<span><b>Type :</b> <label>Kashmir Silk</label></span>
<span><b>Quality :</b> <label>Excellent</label></span>
</div>
</div>
<div class="col-md-6">
  <div class="card pd">
<p>Decorate your home with this beautiful handknotted silk area rug, it contains very intricate design pattern and has taken 8-9 months to weave it. This is 100% hand washable and highly durable rug.</p>
<button class="btn btn-primary">BUY PRODUCT</button>
<BUTTON class="btn btn-success">COMPARE</BUTTON>  
</div>
</div>
</div>
</div>